<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper  namespace="dao.BookMapper">
    <insert id="addBook" parameterType="model.Book">
        insert into books values (null,
        #{book.name},#{book.pagenum},#{book.author}
        )
    </insert>
    <select id="findBookById" parameterType="Integer" resultType="model.Book">
        select * from books where id = #{id};
    </select>

    <delete id="" parameterType=""></delete>
    <update id="" parameterType=""></update>
</mapper>