<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper  namespace="dao.ManagerMapper">
    <select id="login">
        select * from Manager where manager_Name = #{managername} and  password = #{password};
    </select>
    <update id="resetPassword">
        update Manager set password = #{password} where manager_Name = #{adminname}
    </update>
</mapper>